<a href="https://colab.research.google.com/github/soyongseok/-/blob/main/%EB%B0%B1%EC%A4%80_%EC%BD%94%EB%94%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 10430번 나머지 문제

In [ ]:
a, b, c = map(int,input().split())
print((a+b)%c)
print(((a%c)+(b%c))%c)
print((a*b)%c)
print(((a%c)*(b%c))%c)

5 8 4
1
1
0
0

# 2163번 초콜릿 자르기 문제

In [ ]:
a, b = map(int, input().split())
print((a+b)-1)

1 1
1

# 10952번 A+B - 5 문제

In [ ]:
resultList = []

while True:
    a, b = list(map(int, input().split()))
    if a ==0 and b == 0:
        break
    resultList.append(a+b)

for result in resultList:
    print(result)

In [ ]:
K = int(input())

for i in range(K) :
    a,b = map(int, input().split())
    print("Case #", i+1,': ', a+b, sep='')

22
2

ValueError: ignored

In [ ]:
a = int(input())

for i in range(a):
  a, b = map(int,input().split())
  print('Case #', a, ':', i+1,%d'+'%d')

SyntaxError: ignored

#11022번 A+B - 8 문제

In [ ]:
import sys

K = int(input())
for i in range(K):
    a,b = map(int, input().split())
    c = a + b
    print("Case #%d: %d + %d = %d" %(i+1, a, b, c))

5
1 1
Case #1: 1 + 1 = 2
2 1
Case #2: 2 + 1 = 3
3 1
Case #3: 3 + 1 = 4
4 1
Case #4: 4 + 1 = 5
5 1
Case #5: 5 + 1 = 6

# 10699번 오늘 날짜 문제

In [ ]:
import datetime

print(str(datetime.datetime.today())[:10])

2022-05-21

# 9498번 시험 성적 문제

In [ ]:
a = int(input())

if a >= 90:
  print('A')
elif a >= 80:
  print('B')
elif a >= 70:
  print('C')
elif a >= 60:
  print('D')
else:
  print('F')

102
F

# 2753번 윤년 문제

In [ ]:
a = int(input())

if (a % 4 == 0 and  a % 100 != 0) or a % 400 == 0:
  print('1')
else:
  print('0')

1999
0

# 14681번 사분면 고르기 문제

In [ ]:
a = int(input())
b = int(input())
if a<0 and b>0:
  print('2')
elif a>0 and b>0:
 print('1')
elif a<0 and b<0:
 print('3')
else:
 print('4')

9
-13
4

# 2884번 알람 시계 문제

In [ ]:
H,M = map(int, input().split())

if H>=1 and M >= 45 :
  print(H, M-45)
elif H>=1 and M < 45 :
  print(H-1, 60-abs(M-45))
elif H<1 and M >= 45 :
  print(H, M-45)
elif H<1 and M < 45 :
  print(24-abs(H-1), 60-abs(M-45))

9 45
9 0

# 2525번 오븐 시계 문제

In [ ]:
a, b = map(int, input().split())
c = int(input())

a += c // 60
b += c % 60

if b>=60:
  a += 1
  b -= 60
if a >= 24:
  a -= 24
print(a,b)

23 48
25
0 13

# 2480번 주사위 세개 문제

In [ ]:
a, b, c = map(int, input().split())

if (a==b==c):
  X = 10000+a*1000
elif (a==b!=c):
  X = 1000 + a * 100
elif b==c!=a:
  X = 1000 + b * 100
elif a==c!=b:
  X = 1000 + a * 100
elif a!=b!=c:
  if (a > b and a > c):
   X = a * 100
  elif (b > a and b > c):
   X = b * 100
  elif (c > b and c > a):
   X = c * 100
print(X)

3 3 6
1300

# 2739번 구구단 문제

In [ ]:
X = int(input())

for i in range (1, 10):
  a = X * i
  print(X, '*', i, '=', a)

158
158 * 1 = 158
158 * 2 = 316
158 * 3 = 474
158 * 4 = 632
158 * 5 = 790
158 * 6 = 948
158 * 7 = 1106
158 * 8 = 1264
158 * 9 = 1422

# 15552번 빠른 A+B 문제

In [ ]:
X = int(input())

for i in range(X):
  a, b = map(int,input().split())
  print(a + b)

5
1 1
2
2 3
5
3 3
6
5 6
11
2 3
5

In [ ]:
a = int(input())
M = 0

for i in range(a+1):
  M += i
print(M)

2
3

#15552번 문제

In [ ]:
import sys
X = int(input())

for i in range(X):
  a, b = map(int,sys.stdin.readline().split())
  print(a + b)

5

ValueError: ignored

# 2741번 문제

In [ ]:
a = int(input())


for i in range(a):
  print(i+1)

6
1
2
3
4
5
6

# 2742번 문제

In [ ]:
a = int(input())

for i in reversed(range(a)):
  print(i+1)

5
5
4
3
2
1

# 11021번 문제

In [ ]:
X = int(input())


for i in range(X):
  a,b = map(int,input().split())
  print('Case #', i+1,':', a + b,sep='')

2
1 1
Case #1:2
2 2
Case #2:4

# 2438번 별찍기 문제

In [ ]:
a = int(input())

for i in range(1,a+1):
  for j in range(0,i):
    print('*', end = '')
  print('')

5
*
**
***
****
*****

# 2439 별 찍기 - 2 문제

In [ ]:
a = int(input())

for i in range(1,a+1):
  for k in range(a-i):
    print(' ', end = '')
  for j in range(i):
    print('*', end='')
  print('')

5
    *
   **
  ***
 ****
*****

# 10871번 X보다 작은 수

In [ ]:
import sys

N,X = map(int,sys.stdin.readline().rstrip().split())

A = list(map(int,sys.stdin.readline().rstrip().split()))

for num in A:
    if int(num) < X:
        print(int(num),end=" ")

ValueError: ignored

# 10952번 A + B - 5 문제

In [ ]:
XList = []

while True:
    a, b = list(map(int, input().split()))
    if a == 0 and b == 0:
        break
    XList.append(a+b)

for X in XList:
    print(X)

9 8
2 3
0 0
17
5

# 10951번 A + B - 4 문제

In [ ]:
while True:
    try:
        a,b=map(int,input().split())
        print(a+b)
    except:
        break

1 1
2
2 2
4

# 11110번 더하기 사이클 문제

In [ ]:
a = int(input())
num = a
count = 0

while True:
    x = num//10
    b = num%10
    c = (x+b)%10
    num = (b*10) + c
    count += 1 
    if(num == a):
        break
print(count)

71
12

# 10818번 문제

In [ ]:
N = int(input())
x = N
nums = [int(x) for x in input().split()]
print(min(nums), max(nums)) # 파이썬 리스트 내포

5
20 10 35 30 7
7 35

# 2562번 문제

In [ ]:
list = []
for i in range(9):
    list.append(int(input()))
print(max(list))
print(list.index(max(list))+1) # 파이썬 리스트 내포 안한 문제 (배열의 기본)

3
29
38
12
57
74
40
85
61
85
8

# 2577번 숫자의 개수 문제

In [ ]:
A = int(input()); B = int(input()); C = int(input()) # ; \n과 동일한 기능
result =  str(A * B * C)

for i in range(0,10):
    print(result.count(str(i)))  # 각 자리에 있는 수를 구해야 함으로 문자열로 변형시켜 주어야 합니다.

150
266
427
3
1
0
2
0
0
0
2
0
0

# 3052번 나머지 문제

In [ ]:
X = []
Y = [] # 수를 넣을 공간

for i in range(10):
    a = int(input())
    X.append(a % 42)  # append 함수: 새로운 값을 넣는 기능
    
for i in X:
    if i not in Y: # 서로 다른 값일 때 넣는다.
        Y.append(i)
print(len(Y)) # 문자열의 길이 출력

1
2
3
4
5
6
7
8
9
10
10

# 1546번 평균 문제

In [ ]:
a = int(input())
b = list(map(int,input().split())) # list를 넣어 값을 변환하면 max값을 구할 수 있다.
print((sum(b) / max(b) * 100) / a)

30
40 20 50
7.333333333333334

# 8958번 OX퀴즈

In [ ]:
a = int(input())
X = []

for i in range(a):
    X.append(str(input()))
    for j in X:
        add = 1
        point = 1
        score = 0
        for z in j:
            if z == 'O':
              score += add
              point += 1
              add = point
            else:
              point = 1
              add = 1
    print(score)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOX
5
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

# 4344번 평균은 넘겠지

In [ ]:
X = []

for a in range(int(input())):
    X.append(list(map(int,input().split())))

for a in X:
    avg = sum(a[1:]) / a[0]
    cnt = 0
    for score in a[1:]:
        if score > avg:
            cnt += 1
    rate = cnt/a[0] * 100
    print(f'{rate:.3f}%')

5
5 50 50 70 80 100
7 100 95 90 80 70 60 50
3 70 90 80
3 70 90 81
9 100 99 98 97 96 95 94 93 91
40.000%
57.143%
33.333%
66.667%
55.556%

In [ ]:
l=[]
for i in range(int(input())):
    l.append(list(map(int,input().split())))
for i in l:
    ave=sum(i[1:])/i[0]
    k=0
    for j in i[1:]:
        if j>ave:
            k+=1
    print(f'{round(k/i[0]*100,3):.3f}%')

5
5 50 50 70 80 100
7 100 95 90 80 70 60 50
3 70 90 80
3 70 90 81
9 100 99 98 97 96 95 94 93 91
40.000%
57.143%
33.333%
66.667%
55.556%

# 15596번 정수 N개의 합

In [ ]:
def solve(a):
    list = sum(a)
    return list

[9, 100, 99, 98, 97, 96, 95, 94, 93, 91]

# 4673번 셀프 넘버

In [ ]:
def solve(a):  # 문제에서 주어진 d(n) 함수
    number = a  # 33을 입력하면
    for i in list(str(a)):  # 리스트로 나누어 [3,3]으로 나누고
        number += int(i) # 더한다
    return number # 리턴

nothing = [] # 셀프넘버가 아닌 애들의 배열

for i in range(10000):  # 10000까지 돌림
    nothing.append(solve(i)) #셀프넘버가 아닌 수를 넣고
    
for j in range(10000):
    if j in nothing: # j에 nothing이랑 일치하면
        pass  # pass하고
    else:
        print(j)   # 없으면 셀프넘버이니 출력

# 1065번 한수 문제

In [ ]:
def solve(num):
    hansu_cnt = 0
    for i in range(1, num+1):
        num_list = list(map(int,str(i)))
        if i < 100:  # 100 미만은 모두 한수
            hansu_cnt += 1
        elif num_list[0]-num_list[1] == num_list[1]-num_list[2]: # 등차수열의 특징
            hansu_cnt += 1
    return hansu_cnt
num = int(input())
print(solve(num))

210
105

In [ ]:
num = int(input())

hansu = 0
for i in range(1, num+1):
    num_list = list(map(int, str(i)))
    if i < 100:
        hansu += 1  # 100보다 작으면 모두 한수
    elif num_list[0]-num_list[1] == num_list[1]-num_list[2]:
        hansu += 1  # x의 각 자리가 등차수열이면 한수
print(hansu)

210
105

# 11654번 아스키 코드 문제

In [ ]:
a = ord(input())
print(a)

z
122

# 11720번 숫자의 합

In [ ]:
a = int(input())
b = list(str(input()))
c = 0

for i in range(a):
    c += int(b[i])
print(c)

5
00700
7

# 10809번 알파벳 찾기

In [ ]:
a = input()
x = 'abcdefghijklmnopqrstuvwxyz'

for i in x:  # str 이라 range안씀 
    if i in a:
        index = a.find(i)
        print(index)
    else:
        print('-1')

baekjoon
1
0
-1
-1
2
-1
-1
-1
-1
4
3
-1
-1
7
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1

In [ ]:
T = int(input())

for i in range(T):
    R ,S = input().split() # 한 개는 정수 한개는 list이기 때문에 map 사용 X
    R = int(R)
    S = list(S)
    for j in range(len(S)):
        print(S[j]*R, end = '')
    print()

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

# 1157번 단어 공부 문제

In [ ]:
a = input().upper() # upper 대문자 변환 함수

alist = list(set(a)) # set 함수는 중복을 허용하지 않고, {}로 묶는다.
cnt = []

for i in alist:
    count = a.count
    cnt.append(count(i))
if cnt.count(max(cnt)) > 1:
    print('?')
else:
    print(alist[(cnt.index(max(cnt)))])

baaa
A

# 1152번 단어의 개수 문제

In [ ]:
a = tuple(input().split())
print(len(a))

a a a
3

# 2908번 상수 문제

In [ ]:
a, b = input().split()

X = list(reversed(a))
Y = list(reversed(b))

if X > Y:
    print(X[0]+X[1]+X[2])
elif X < Y:
    print(Y[0]+Y[1]+Y[2])

231 211
132

# 5622번 다이얼 문제

In [ ]:
a = input()
n = 0
T = {3:['A','B','C'],4:['D','E','F'], 5:['G','H','I'], 6:['J','K','L'],7:['M','N','O'],
     8:['P','Q','R','S'], 9:['T','U','V'], 10:['W','X','Y','Z']}

for i in a:
    for j,k in T.items():
        if i in k: # i가 k안에 있으면
            n += j
print(n)

UNUCIC
36

In [ ]:
num = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']

text = input() #WA 입력
sum = 0

for i in text: #W한번 루프 A한번 루프
    for j in num: 
        if i in j: #i에 J가있으면 인덱스를 반환해주는 index함수
            sum += num.index(j)+3 #3초를 더해준다 인덱스는 0부터시작이라

print(sum) #13!

UNUCIC
36

# 2941번 크로아티아 알파벳 문제

In [ ]:
a = ['c=', 'c-', 'dz=','d-','lj','nj','s=','z=']
text = input()

for i in a: # i 에 a를 반복
    text = text.replace(i,'a')  # i 에 text 값이 있으면 a로 변환
print(len(text))

ddz=z=
3

# 1316번 그룹 단어 체커 문제

In [ ]:
a = int(input())
cnt = 0
for i in range(a):
    word = input()
    for j in range(len(word)-1):
        if word[j] != word[j+1]:
            new = word[j+1:]
            if word[j] in new:
                cnt -= 1
                break
    cnt += 1
print(cnt)

3
happy
new
year
3

# 1712번 손익분기점

In [ ]:
a, b, c = map(int,input().split())

if b >= c:
    print(-1)
else:
    print(a//(c-b)+1) # a 는 기본요금, b = 가변 금액, c = 판매비용

1000 70 170
11

# 2292번 벌집 문제

In [ ]:
a = int(input())
cnt = 0
plus = 0
route = 1

while True:
    cnt += 1
    route = route + (6*plus)
    if a <= route:
        print(cnt)
        break
    else:
        plus += 1

13
3

# 10757번 큰 수 A + B 문제

In [ ]:
a,b = map(int,input().split())
print(a+b)

51353254687 98623217699
149976472386

# 5717번 상근이의 친구들

In [ ]:
a = []

while True:
    m, f = map(int,input().split())
    if m == 0 and f == 0:
        break
    a.append(m+f)

for X in a:
    print(X)

2 2
2 3
5 5
1 1
0 0
4
5
10
2

# 2908번 상수 문제

In [ ]:
T = int(input())

for i in range(T):
    R ,S = input().split() # 한 개는 정수 한개는 list이기 때문에 map 사용 X
    R = int(R)
    S = list(S)
    for j in range(len(S)):
        print(S[j]*R, end = '')
    print()

2
3 ABC\
AAABBBCCC\\\
5 /HTP
/////HHHHHTTTTTPPPPP

# 10172번 개 문제

In [ ]:
print('|\_/|')
print('|q p|   /}')
print('( 0 )"""\\')
print('|"^"`    |')
print('||_/=\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

# 2530번 인공지능 시계

In [ ]:
a, b, c = map(int,input().split())
X = int(input())

a = (a + ((b + ((c + X) // 60))) // 60) % 24
b = ((b + ((c + X) // 60))) % 60
c = (c + X) % 60

print(a, b, c)

0 0 0
216000
12 0 0

# 10817번 세 수

In [ ]:
a = list(map(int,input().split()))
a.sort()
print(a[1])

10 200 30
30

# 1789번 수들의 합

In [ ]:
a = int(input())
N = 0
result = 0

for i in range(1,a+1):
    result += i
    N += 1
    if (result > a):
        N -= 1
        break
print(N)

200
19

# 2754번 학점계산 문제

In [ ]:
a = str(input())

if a == 'A+':
    print(4.3)
elif a == 'A0':
    print(4.0)
elif a == 'A-':
    print(3.7)
elif a == 'B+':
    print(3.3)
elif a == 'B0':
    print(3.0)
elif a == 'B-':
    print(2.7)
elif a == 'C+':
    print(2.3)
elif a == 'C0':
    print(2.0)
elif a == 'C-':
    print(1.7)
elif a == 'D+':
    print(1.3)
elif a == 'D0':
    print(1.0)
elif a == 'D-':
    print(0.7)
elif a == 'F':
    print(0.0)

F
0.0

In [ ]:
a = int(input())
cnt = 0
plus = 0
route = 1

while True:
    cnt += 1
    route = route + (6*plus)
    if a <= route:
        print(cnt)
        break
    else:
        plus += 1

13
3

# 5355번 화성 수학 문제

In [18]:
t = int(input())

for a in range(t):
    X = list(input().split())
    Y = float(X[0])

    for i in range(1, len(X)):
        if X[i] == '@':
            Y = Y * 3
        elif X[i] == '%':
            Y = Y + 5
        elif X[i] == '#':
            Y = Y - 7 
    print('%0.2f'%Y)

3
3 @ %
14.00
10.4 # % @
25.20
8 #
1.00